{% extends 'admin_panel/base.html' %}

{% block content %}
    <div class="container mt-4">
        <div class="content-header">
            <nav class="breadcrumb">
                <a href="{% url 'admins' %}">أنواع المنشأت</a>
                <i class="separator fas fa-chevron-left"></i>
                <span>إضافة نوع</span> 
            </nav>
        </div>

        <div class="search-container d-flex justify-content-center">
            <form method="get" class="search-box">
                <i class="fas fa-search search-icon"></i>
                <input type="text" name="q" class="form-control" placeholder="بحث..." value="{{ request.GET.q }}">
            </form>
        </div>

        <div class="table-container">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            {% for field in field_names %}
                            <th>{{ field }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for offer in offers %}
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>{{ offer.id }}</td>
                            <td>{{ offer.createdAt }}</td>
                            <td>{{ offer.expiresAt }}</td>
                            <td>{{ offer.content }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% include 'admin_panel/pagination.html' %}

        <div class="action-button-container">
            <a href="{% url 'add-client-offer' %}" class="btn btn-brown">
                إضافة
            </a>
            <button type="submit" class="btn btn-brown" id="deleteBtn">
                حذف
            </button>
        </div>
        
    </div>
{% endblock %}